<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Password-Generator</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>Historial de contraseñas generadas</h1>
    {% if passwords %}
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Fecha de creación</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for password in passwords %}
        <tr>
            <td>{{ password.password }}</td>
            <td>{{ password.created_at }}</td>
            <td><a href="{% url 'eliminar_contraseña' password.id %}">Borrar</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>No hay contraseñas generadas todavía.</p>
    {% endif %}
    <a href="{% url 'crear_contraseña' %}">Generar nueva contraseña</a>
</div>

</body>
</html>